@import 'base/style/main';

.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  @include placeholder {
    font-size: 2rem;
    font-weight: 100;
    font-style: italic;
    text-transform: capitalize;
  }

  &__element {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 0.2rem solid $white;
  }

  &__error {
    font-size: 2rem;
    font-weight: 400;

    &-container {
      text-align: left;
      padding: 1rem;
    }
  }
}