.vehicles-page-header {
  margin-bottom: 2rem;
  border-bottom: 2px dashed;

  &__title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 3rem;
  }

  &__subtitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &__description {
    margin-bottom: 2rem;
  }
}