@import 'base/style/main';

.vehicles-page {
  @extend %flex-centered;
  flex-grow: 1;

  &__container {
    flex-grow: 1;
    padding: 4rem;
    max-width: 80rem;
  }

  &__list {
    max-height: 80rem;
  }
}