@import 'base/style/main';

.button {
  width: 100%;

  border: 0.2rem solid $white;
  border-radius: 2rem;

  padding: 1rem 2rem;
  margin: 1rem auto;
  background: transparent;

  color: $white;
  font-size: 2rem;
  font-weight: bold;

  &:hover {
    cursor: pointer;
    color: $dark-gray;
    background-color: $white;
  }
}