@import 'base/style/main.scss';

.error-boundary {
  @extend %flex-centered;
  flex-direction: column;
  flex-grow: 1;

  width: 100%;
  text-align: center;
  background: radial-gradient(circle at 70%, $blue 10%, $dark-blue 45%, $black 100%);

  &__container {
    max-width: 100rem;
    padding: 4rem;
  }

  &__title {
    font-size: 4rem;
  }

  &__text {
    margin: 2rem 0;
  }
}