@import 'base/style/main';

.login-page {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__container {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    flex-grow: 1;
    justify-content: center;
    padding: 4rem;
  }

  &__logo {
    width: 80rem;
    max-width: 100%;
    margin-bottom: 4rem;
    height: auto;
  }
}