@import 'base/style/main.scss';

* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;

  &:focus {
    outline: none;
  }
}

html {
  @extend %base-reset;
  font-size: $rem-size;
}

body {
  @extend %base-reset;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;

  flex-grow: 1;
  height: 100%;
  width: 100%;

  font-size: 2rem;
  background: $dark-blue;
  color: $white;
}