@import 'base/style/main';

.vehicle-item {
  display: flex;
  justify-content: space-between;
  margin: 0 1.5rem;
  padding: 2rem 0.5rem;

  &:not(:last-child) {
    border-bottom: 1px solid;
  }

  &:hover {
    background-color: $dark-blue;
  }

  &__plate {
    font-weight: 500;
    text-transform: uppercase;
  }
}